{% extends "layout.html" %}
{% block titlesep %}{% endblock %}

{% block head %}
    {{ super() }}

    <style type="text/css">
    #uses .canceled .date, #uses .canceled .name {
        text-decoration: line-through;
    }
    #uses .unknown .status, #uses .unknown .update {
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block body %}
<p>Hi {{ current_user.name }}! (<a href="{{ url_for('security.logout') }}">logout</a>)</p>

<p><form action="{{ url_for('pick_barcode') }}" method="POST"><input type="submit" value="Use a barcode" /></form></p>

{% if my_uses %}
<p>Your uses:</p>
<table id="uses">
<thead>
<tr>
<th>Date</th>
<th>Whose</th>
<th colspan="2">Confirmed?</th>
<th>Redeemed</th>
</tr>
</thead>
<tbody>
{% for use in my_uses %}
<tr class="{% if use.confirmed == true %}confirmed{% elif use.confirmed == false %}canceled{% else %}unknown{% endif %}">
<td class="date">{{ use.when.strftime("%m/%d") }}</td>
<td class="name">{{ use.qr_code.registrant }}</td>
<td class="status">{% if use.confirmed == true %}✓{% elif use.confirmed == false %}×{% else %}???{% endif %}</td>
<td class="update"><a href="{{ url_for('use', use_id=use.id) }}">change</a></td>
<td class="redeemed">{% if use.free_amount is none %}–{% else %}${{ use.free_amount }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>You haven't used any cards yet!</p>
{% endif %}

<p>Card statuses:</p>
<table id="cards">
<thead>
<tr>
  <th>Whose</th>
  <th>Total uses</th>
  <th colspan="2">Used today?</th>
</tr>
</thead>
<tbody>
{% for qr in qrs %}
<tr>
  <td>{{ qr.registrant }}</td>
  <td>{{ qr.total_uses() }}</td>
  <td>{% if qr.used_today() %}✓{% else %}×{% endif %}</td>
  <td><a href="{{ url_for('use_specific', qr_id=qr.id) }}">use</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<p><a href="{{ url_for('new_card') }}">Add a new card</a>.</p>

{% endblock %}
