{% extends "layout.html" %}
{% block titlesep %}{% endblock %}

{% block head %}
    {{ super() }}

    <style type="text/css">
    #use-barcode {
        font-size: 2em;
        color: #fff;
        background-color: #a30;
        max-width: 100%;
        border: 0;
        padding: 0.5em;
        outline: none;
        margin: 0 auto;
        display: block;
    }
    #use-barcode:hover {
        background-color: #f30;
    }
    #uses .canceled .date, #uses .canceled .name {
        text-decoration: line-through;
    }
    #uses .unknown .status, #uses .unknown .update {
        font-weight: bold;
    }
    #uses .confirmed, #uses .canceled, #uses .unknown, #uses .redeemed, #cards .total-uses, #cards .used-today {
        text-align: center;
    }
    #new-card {
        font-size: 1em;
    }
    .used-today {
        color: #fff;
        font-weight: bold;
    }
    .used-today.used {
        background-color: #492;
    }
    .used-today.unused {
        background-color: #a30;
    }
    .update {
        font-size: 30px;
    }
    .used-this {
        font-size: 30px;
    }
    </style>
{% endblock %}

{% block body %}
<p>Hi {{ current_user.name }}! (<a href="{{ url_for('security.logout') }}">logout</a>)</p>

<p><form action="{{ url_for('pick_barcode') }}" method="POST"><input type="submit" value="Use a QR code" id="use-barcode" /></form></p>

{% if my_uses %}
<p>Your uses:</p>
<table id="uses">
<thead>
<tr>
<th>Date</th>
<th>Whose</th>
<th>Free meal?</th>
<th> </th>
</tr>
</thead>
<tbody>
{% for use in my_uses %}
<tr class="{% if use.confirmed == true %}confirmed{% elif use.confirmed == false %}canceled{% else %}unknown{% endif %}">
<td class="date">{{ use.when.strftime("%m/%d") }}</td>
<td class="name">{{ use.qr_code.registrant }}</td>
<td class="status">{% if use.redeemed_free %}free{% elif use.confirmed == true %}paid{% else %}???{% endif %}</td>
<td class="update"><a href="{{ url_for('use', use_id=use.id) }}">&#9998;</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>You haven't used any codes yet!</p>
{% endif %}

<p>Code statuses:</p>
<table id="cards">
<thead>
<tr>
  <th>Whose</th>
  <th>Total uses</th>
  <th>Used today?</th>
  <th> </th>
</tr>
</thead>
<tbody>
{% for qr in qrs %}
<tr>
  <td class="registrant">{{ qr.registrant }}</td>
  <td class="total-uses">{{ qr.total_uses() }}</td>
  <td class="used-today {% if qr.used_today() %}used{% else %}unused{% endif %}">{% if qr.used_today() %}✓{% else %}×{% endif %}</td>
  <td class="used-this"><a href="{{ url_for('use_specific', qr_id=qr.id) }}">&#9997;</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<p>* Click <span class="used-this">&#9997;</span> if you used a particular code without going through this website.</p>

<p><form action="{{ url_for('new_card') }}" method="GET"><input type="submit" value="Add a new code" id="new-card" /></form></p>

<p><a href="{{ url_for('about') }}">What's all this for? How do I use this?</a></p>

{% endblock %}
