{% extends "layout.html" %}
{% block titlesep %}{% endblock %}

{% block head %}
    {{ super() }}

    <style type="text/css">
    #uses .canceled .date, #uses .canceled .name {
        text-decoration: line-through;
    }
    #uses .unknown {
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block body %}
<p>Hi {{ current_user.name }}!</p>

<p><a href="{{ url_for('pick_barcode') }}">Use a barcode</a></p>

{% if my_uses %}
<p>Your uses:</p>
<table id="uses">
<thead>
<tr>
<th>Date</th>
<th>Whose</th>
<th colspan="2">Confirmed?</th>
</tr>
</thead>
<tbody>
{% for use in my_uses %}
<tr class="{% if use.confirmed == true %}confirmed{% elif use.confirmed == false %}canceled{% else %}unknown{% endif %}">
<td class="date">{{ use.when.strftime("%m/%d") }}</td>
<td class="name">{{ use.user.name }}</td>
<td class="confirm">{% if use.confirmed == true %}&#x2713;{% else %}<a href="{{ url_for('use_confirm', use_id=use.id) }}">confirm</a>{% endif %}</td>
<td class="cancel">{% if use.confirmed == false %}×{% else %}<a href="{{ url_for('use_cancel', use_id=use.id) }}">cancel</a>{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>You haven't used any cards yet!</p>
{% endif %}

{% endblock %}
