{% extends "layout.html" %}

{% block title %}Use a QR code{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
	#show-barcode-wrapper {
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2em;
	}
    #show-barcode {
        font-size: 2em;
        color: #fff;
        background-color: #a30;
        max-width: 100%;
        border: 0;
        padding: 0.5em;
        outline: none;
        margin: 0 auto;
        display: inline;
    }
    #show-barcode:hover {
        background-color: #f30;
    }
    input[type="submit"] {
        font-size: 1em;
    }
</style>
{% endblock %}

{% block body %}

<p>You're using {{ use.qr_code.registrant }}'s QR code.
<b>(We just logged a use; if you don't actually use it, cancel below.)</b>
</p>

<p id="show-barcode-wrapper"><a href="https://chipotle.com/chiptopia-barcode?barcode={{ use.qr_code.barcode }}" class="button" id="show-barcode">Show QR code</a></p>

<p>The phone number is {{ use.qr_code.phone }} if they ask for that instead.</p>

<p><b>Come back here</b> to confirm whether you actually used the code, and whether you got a free meal (which still counts as a use!):</p>

<p><form action="{{ url_for('use_confirm', use_id=use.id, redeemed_free=0) }}" method="POST"><input type="submit" value="I paid for my meal" /></form></p>
<p><form action="{{ url_for('use_confirm', use_id=use.id, redeemed_free=1) }}" method="POST"><input type="submit" value="I got a free meal" /></form></p>
<p><form action="{{ url_for('use_cancel', use_id=use.id) }}" method="POST"><input type="submit" value="I didn't actually use the code" /></form></p>

{% endblock %}
